{{ define "main" }}
{{ range .Pages }}
<article>
	<a href="{{ .Permalink }}"><strong>{{ .Title }}</strong></a>
	<span>{{ .Date.Format "Monday, Jan 2, 2006" }}</span>
	{{ $taxo := "tags" }}
	{{ range .Param $taxo }}
		{{ $name := . }}
		{{ with $.Site.GetPage (printf "/%s/%s" $taxo $name) }}
			<span class="is-pulled-right" style="margin-right: 1%;">
			<a href="{{ .Permalink }}"><span class="tag is-danger">{{ $name }}</span></a>
			</span>
		{{ end }}
	    {{ end }}
</article>
</br>
{{ end }}
{{ end }}
